<section class="contacts">
  <div class="container">
    <h1 class="visually-hidden">Section contacts</h1>
    <div class="contacts-wrap">
      <div class="contacts-left">
        <div class="contacts-logo">
          <a class="contacts-logo-text" href="./index.html">mimiho</a>

          <p class="contacts-logo-title">Ресторанно-готельний комплекс</p>
        </div>
        <ul class="contacts-list">
          <li class="contacts-restaurant">
            <span class="contacts-restaurant-text">Ресторан</span>
            <div class="contacts-tel-wrap">
              <svg width="24px" height="24px" class="contacts-tel-icon">
                <use href="./img/sprite.svg#icon-phone"></use>
              </svg>
              <a class="contacts-tel" href="tel:+380955559533">095 555 95 33</a>
            </div>
          </li>
          <li class="contacts-hotel">
            <span class="contacts-hotel-text">Готель</span>
            <div class="contacts-hotel-tel-wrap">
              <svg width="24px" height="24px" class="contacts-tel-icon">
                <use href="./img/sprite.svg#icon-phone"></use>
              </svg>
              <div class="contacts-number-wrap">
                <a class="contacts-tel" href="tel:+380668491089"
                  >066 849 10 89</a
                >
                <a class="contacts-tel" href="tel:+380672758540"
                  >067 275 85 40</a
                >
              </div>
            </div>
          </li>
        </ul>
        <div class="contacts-address">
          <svg width="24px" height="24px" class="contacts-address-icon">
            <use href="./img/sprite.svg#icon-location"></use>
          </svg>
          <a
            class="contacts-address-text"
            href="https://goo.gl/maps/Thj7MZooN1T6FweK6"
            rel="noopener noreferrer nofollow"
          >
            <address>Україна, м. Полтава, вул. Маршала Бірюзова, 15</address>
          </a>
        </div>
      </div>
      <div class="contacts-right">
        <div class="contacts-map">
          <!-- <picture>
                        <source srcset="
                              ./img/desktop/map/mapx1.webp 1x,
                              ./img/desktop/map/mapx2.webp 2x
                            " media="(min-width: 1280px)" type="image/webp" />
                        <source srcset="
                              ./img/desktop/map/mapx1.png 1x,
                              ./img/desktop/map/mapx2.png 2x
                            " media="(min-width: 1280px)" type="image/png" />
                        <source srcset="
                              ./img/tablet/map/mapx1.webp 1x,
                              ./img/tablet/map/mapx2.webp 2x
                            " media="(min-width: 1024px)" type="image/webp" />
                        <source srcset="
                              ./img/tablet/map/mapx1.png 1x,
                              ./img/tablet/map/mapx2.png 2x
                            " media="(min-width: 1024px)" type="image/png" />
                        <source srcset="
                              ./img/mobile/map/mapx1.webp 1x,
                              ./img/mobile/map/mapx2.webp 2x
                            " media="(max-width: 1023px)" type="image/webp" />
                        <source srcset="
                              ./img/mobile/map/mapx1.png 1x,
                              ./img/mobile/map/mapx2.png 2x
                            " media="(max-width: 1023px)" type="image/png" />
                        <img src="./img/mobile/map/mapx1.png" alt="Map" />
            </picture> -->
          <div class="map-mobil">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.9233981195016!2d34.524357615666574!3d49.599193979367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2sMarshala%20Biryuzova%20St%2C%2015%2C%20Poltava%2C%20Poltavs&#39;ka%20oblast%2C%20Ukraine%2C%2036000!5e0!3m2!1sen!2snl!4v1676924882174!5m2!1sen!2snl"
              height="220"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <div class="map-tablet">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.9233981195016!2d34.524357615666574!3d49.599193979367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2sMarshala%20Biryuzova%20St%2C%2015%2C%20Poltava%2C%20Poltavs&#39;ka%20oblast%2C%20Ukraine%2C%2036000!5e0!3m2!1sen!2snl!4v1676924882174!5m2!1sen!2snl"
              width="535"
              height="412"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <div class="map-desktop">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.9233981195016!2d34.524357615666574!3d49.599193979367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2sMarshala%20Biryuzova%20St%2C%2015%2C%20Poltava%2C%20Poltavs&#39;ka%20oblast%2C%20Ukraine%2C%2036000!5e0!3m2!1sen!2snl!4v1676924882174!5m2!1sen!2snl"
              width="634"
              height="412"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
