
    <div class="detail-of-hotel">
        <div class="container">
            <div class="hotel-logo">
                    <h2 class="detail-hotel-logo">MIMIHO</h2>
                    <h3 class="text-after-logo">Готель</h3>
                    <p class="text-afret-restoran">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
            </div>
            <div class="scroll-hotel">
                <ul class="hotel-button">
                    <li><button class="reserve-a-room" type="button">Забронювати номер</button></li>
                    <li><button class="view-the-prices" type="button">Переглянути ціни</button></li>
                </ul>
                <div class="hotel-images">
                    <ul class="hotel-list list">
                        <li class="hotel-item object">
                            <picture>
                                <source srcset="./img/desktop/about-hotel/gallery-object3x1.jpg 1x,./img/desktop/about-hotel/gallery-object3x2.jpg 2x">
                                <img src="./img/desktop/about-hotel/gallery-object3x1.jpg" alt="photo"></picture>
                        </li>
                        <li class="hotel-item object">
                            <picture> 
                                <source srcset="./img/desktop/about-hotel/gallery-object2x1.jpg 1x,./img/desktop/about-hotel/gallery-object2x2.jpg 2x">
                                <img src="./img/desktop/about-hotel/gallery-object2x1.jpg" alt="photo"></picture>
                        </li>
                        <li class="hotel-item">
                            <picture> 
                                <source srcset="./img/desktop/about-hotel/gallery-object1x1.jpg 1x,./img/desktop/about-hotel/gallery-object1x2.jpg 2x">
                                <img class="images-class" src="./img/desktop/about-hotel/gallery-object1x1.jpg" alt="photo" width="270" height="270"></picture>
                        </li>
                    </ul>
                    <div class="button-scroll">
                        <button class="scroll-button-hotel" type="button"><svg class="scroll-button" width="32" height="32"><use href="../img/sprite.svg#icon-left-arrow-big"></use></svg></button>
                        <button class="scroll-button-hotel" type="button"><svg class="scroll-button" width="32" height="32"><use href="../img/sprite.svg#icon-right-arrow-big"></use></svg></button>
                    </div>
                </div>
            </div>
        </div>
    </div>