<section id="menu" class="section-menu">
  <div class="container menu menu-container">
    <h2 class="menu-title">МЕНЮ РЕСТОРАНУ</h2>
    <div class="menu-general-wrap">
      <div class="menu-wrap menu-wrap-1">
        <table>
          <thead class="menu-subtitle-wrap">
            <tr>
              <th class="menu-subtitle" colspan="3">Гарячі страви</th>
            </tr>
          </thead>

          <tbody class="menu-list">
            <tr class="menu-item">
              <th class="menu-item-title">Борщ з телятини з квасолею</th>
              <td class="menu-item-gramm" rowspan="2">400 г</td>
              <td class="menu-item-price" rowspan="2">240 грн</td>
            </tr>
            <tr class="menu-item">
              <td class="menu-item-text">
                Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                помідори, зелень, сметана
              </td>
            </tr>

            <tr class="menu-item">
              <th class="menu-item-title">Суп сирний з куркою</th>
              <td class="menu-item-gramm" rowspan="2">400 г</td>
              <td class="menu-item-price" rowspan="2">200 грн</td>
            </tr>
            <tr class="menu-item">
              <td class="menu-item-text">
                Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
              </td>
            </tr>

            <tr class="menu-item">
              <th class="menu-item-title">Паста карбонара</th>
              <td class="menu-item-gramm" rowspan="2">350 г</td>
              <td class="menu-item-price" rowspan="2">430 грн</td>
            </tr>
            <tr class="menu-item">
              <td class="menu-item-text">
                Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
              </td>
            </tr>

            <tr class="menu-item">
              <th class="menu-item-title">Стейк зі свинини</th>
              <td class="menu-item-gramm" rowspan="2">400 г</td>
              <td class="menu-item-price" rowspan="2">500 грн</td>
            </tr>
            <tr class="menu-item">
              <td class="menu-item-text">
                Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                овочами
              </td>
            </tr>

            <tr class="menu-item">
              <th class="menu-item-title">Горбуша в соусі з білого вина</th>
              <td class="menu-item-gramm" rowspan="2">400 г</td>
              <td class="menu-item-price" rowspan="2">400 грн</td>
            </tr>
            <tr class="menu-item">
              <td class="menu-item-text text-no-pad">
                Ніжна горбуша, вершковий соус на основі білого вина
              </td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead class="menu-subtitle-wrap">
            <tr>
              <th class="menu-subtitle" colspan="3">Гарніри та закуски</th>
            </tr>
          </thead>

          <tbody class="menu-list">
            <tr class="menu-item">
              <th class="menu-item-title">Запечені овочі</th>
              <td class="menu-item-gramm" rowspan="2">200 г</td>
              <td class="menu-item-price" rowspan="2">230 грн</td>
            </tr>
            <tr class="menu-item">
              <td class="menu-item-text">Кабачок, перець, помідор, баклажан</td>
            </tr>

            <tr class="menu-item">
              <th class="menu-item-title">Картопля фрі</th>
              <td class="menu-item-gramm" rowspan="2">150 г</td>
              <td class="menu-item-price" rowspan="2">160 грн</td>
            </tr>
            <tr class="menu-item">
              <td class="menu-item-text">Картопля, соус томатний</td>
            </tr>

            <tr class="menu-item">
              <th class="menu-item-title">Картопля по-селянськи</th>
              <td class="menu-item-gramm" rowspan="2">150 г</td>
              <td class="menu-item-price" rowspan="2">160 грн</td>
            </tr>
            <tr class="menu-item">
              <td class="menu-item-text">Картопля, спеції, соус пікантний</td>
            </tr>

            <tr class="menu-item">
              <th class="menu-item-title">Хрумкі соління з бочки</th>
              <td class="menu-item-gramm" rowspan="2">250 г</td>
              <td class="menu-item-price" rowspan="2">350 грн</td>
            </tr>
            <tr class="menu-item">
              <td class="menu-item-text">
                Огірок солений, помідор квашений, квашена капуста, морква
                по-корейські
              </td>
            </tr>

            <tr class="menu-item">
              <th class="menu-item-title">Крильця курячі в медовому соусі</th>
              <td class="menu-item-gramm" rowspan="2">400 г</td>
              <td class="menu-item-price" rowspan="2">420 грн</td>
            </tr>
            <tr class="menu-item">
              <td class="menu-item-text text-no-pad">
                Крильця курячі, гірчично-медовий соус, подається з морквою,
                селерою і соусом блючиз
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="menu-wrap menu-wrap-2">
        <table>
          <thead class="menu-subtitle-wrap">
            <tr>
              <th class="menu-subtitle" colspan="3">Салати</th>
            </tr>
          </thead>

          <tbody class="menu-list">
            <tr class="menu-item">
              <th class="menu-item-title">Цезар з куркою</th>
              <td class="menu-item-gramm" rowspan="2">230 г</td>
              <td class="menu-item-price" rowspan="2">450 грн</td>
            </tr>
            <tr class="menu-item">
              <td class="menu-item-text">
                Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
                соус цезар
              </td>
            </tr>

            <tr class="menu-item">
              <th class="menu-item-title">Цезар з креветками</th>
              <td class="menu-item-gramm" rowspan="2">230 г</td>
              <td class="menu-item-price" rowspan="2">300 грн</td>
            </tr>
            <tr class="menu-item">
              <td class="menu-item-text">
                Тигрові креветки, листя салату, помідори чері, сир пармезан,
                грінки, соус цезар
              </td>
            </tr>

            <tr class="menu-item">
              <th class="menu-item-title">Грецький салат</th>
              <td class="menu-item-gramm" rowspan="2">230 г</td>
              <td class="menu-item-price" rowspan="2">280 грн</td>
            </tr>
            <tr class="menu-item">
              <td class="menu-item-text">
                Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                листя салату, соус
              </td>
            </tr>

            <tr class="menu-item">
              <th class="menu-item-title">М’ясний салат</th>
              <td class="menu-item-gramm" rowspan="2">230 г</td>
              <td class="menu-item-price" rowspan="2">300 грн</td>
            </tr>
            <tr class="menu-item">
              <td class="menu-item-text text-no-pad">
                Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                болгарський перець, соус ранч
              </td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead class="menu-subtitle-wrap">
            <tr>
              <th class="menu-subtitle" colspan="3">Десерти</th>
            </tr>
          </thead>

          <tbody>
            <tr class="menu-item">
              <th class="menu-item-title-2">Торт наполеон</th>
              <td class="menu-item-gramm">230 г</td>
              <td class="menu-item-price">300 грн</td>
            </tr>
            <tr class="menu-item">
              <th class="menu-item-title-2">Торт маковий</th>
              <td class="menu-item-gramm">230 г</td>
              <td class="menu-item-price">300 грн</td>
            </tr>
            <tr class="menu-item">
              <th class="menu-item-title-2 text-no-pad">Тірамісу</th>
              <td class="menu-item-gramm">120 г</td>
              <td class="menu-item-price">260 грн</td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead class="menu-subtitle-wrap">
            <tr>
              <th class="menu-subtitle" colspan="3">Напої</th>
            </tr>
          </thead>
          <tbody>
            <tr class="menu-item">
              <th class="menu-item-title-2">Чай чорний/зелений</th>
              <td class="menu-item-gramm">500 мл</td>
              <td class="menu-item-price">100 грн</td>
            </tr>
            <tr class="menu-item">
              <th class="menu-item-title-2">Еспресо</th>
              <td class="menu-item-gramm">30 мл</td>
              <td class="menu-item-price">100 грн</td>
            </tr>
            <tr class="menu-item">
              <th class="menu-item-title-2">Американо</th>
              <td class="menu-item-gramm">150 мл</td>
              <td class="menu-item-price">100 грн</td>
            </tr>
            <tr class="menu-item">
              <th class="menu-item-title-2">Капучино</th>
              <td class="menu-item-gramm">200 мл</td>
              <td class="menu-item-price">160 грн</td>
            </tr>
            <tr class="menu-item">
              <th class="menu-item-title-2 text-no-pad">Лате</th>
              <td class="menu-item-gramm">200 мл</td>
              <td class="menu-item-price">160 грн</td>
            </tr>
          </tbody>
        </table>
      </div>

      <button
        type="button"
        class="menu-btn button js-open-modal"
        data-modal="1"
      >
        Забронювати столик
      </button>
    </div>
  </div>
</section>
