.rooms-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 236px;
  height: 48px;
  background-color: #000000;
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--akzent-yellow);
  text-align: center;
  transition: background-color var(--timing-function),
    border var(--timing-function), border-color var(--timing-function);
}

.btn:hover,
.btn:focus {
  background-color: #fff;
  border-color: #f3c653;
}
.btn-1 {
  margin-bottom: 16px;
}

.rooms-arrow {
  transition: fill var(--timing-function);
}

.rooms-arrow:hover,
.rooms-arrow:focus {
  fill: #f3c653;
}

@media screen and (min-width: 320px) and (max-width: 413px) {
  .container {
    width: 100%;
  }

  .room-first-image {
    box-shadow: 2px 2px 60px 2px rgb(0 0 0 / 25%);
  }
  .arrows-mirror {
    margin-top: 20px;
  }
  .room-slide-box-mirror {
    margin-right: -30%;
    margin-left: 0px;
  }
  .sliders-box-mirror {
    margin-top: 0;
  }
  .room-buttons-mirror {
    margin-top: 102px;
    text-align: center;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    max-width: 414px;
  }
  /*------------------------------------------------------- mobile */

  .picture-thumb {
    display: flex;
    justify-content: end;
  }

  .room-1 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .room-2 {
    background-color: #f0ecd6;
    padding-top: 32px;
    padding-bottom: 32px;
    overflow: hidden;
  }

  .room-3 {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .room-text-box-mirror {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 32px;
  }

  .picture-thumb-mirror {
    justify-content: flex-start;
  }

  .pre-section-title {
    font-size: 20px;
    margin-bottom: 8px;
  }
  .section-title {
    font-size: 40px;
  }
  .after-section-title {
    font-size: 12px;
    margin-top: 12px;
  }

  .room-tittle {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    color: var(--black);
    margin-top: 32px;
  }

  .room-text-box {
    margin-bottom: 32px;
  }

  .room-first-image {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }
  .content-box {
    margin-top: 32px;
  }
  .room-first-image-mirror {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }
  .room-slide-box {
    display: flex;
    margin-left: -30%;
  }
  .room-slide-box-mirror {
    display: flex;
  }
  .slide-1 {
    margin-right: 16px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }
  .slide-2 {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }

  .image-2 {
    margin-right: 16px;
  }
  .image-2-mirror {
    margin-right: 16px;
  }
  .room-buttons {
    margin-top: 20px;
    text-align: center;
  }
  .room-buttons-mirror {
    margin-top: 20px;
    text-align: center;
  }
  .arrows {
    margin-top: 20px;
  }
  .left-arrow {
    margin-right: 33px;
    border: none;
    background-color: inherit;
  }

  .right-arrow {
    width: 32px;
    height: 32px;
    border: none;
    background-color: inherit;
  }

  .left-arrow-mirror {
    margin-right: 33px;
    border: none;
    background-color: inherit;
  }
  .right-arrow-mirror {
    border: none;
    background-color: inherit;
  }

  .arrows-mirror {
    margin-top: 20px;
    align-self: end;
  }

  .sliders-box-mirror {
    display: flex;
    flex-direction: column;
  }

  .pre-section-title-mirror {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: var(--gray-1);
    margin-bottom: 0;
  }
  .after-section-title {
    width: 258px;
  }
  .section-title-mirror {
    font-family: 'FilmP3';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #494848;
    margin-top: 8px;
    margin-bottom: 0;
    letter-spacing: 0.3em;
  }
  .after-section-title-mirror {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--primary-color);

    width: 242px;
    margin-top: 12px;
    margin-bottom: 0;
    margin-right: 28px;
  }
}

/*----------------------------------------------------------------------------------- tablet */

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .container {
    min-width: 1024px;
  }
  .box-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 176px;
  }
  .sliders-box-mirror {
    order: 2;
  }

  .room-1 {
    padding-top: 62px;
    position: relative;
    padding-bottom: 40px;
  }
  .room-2 {
    background-color: #f0ecd6;
    padding-top: 62px;
    position: relative;
    padding-bottom: 40px;
  }
  .room-3 {
    padding-top: 62px;
    position: relative;
    padding-bottom: 40px;
  }

  .room-text-box-mirror {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 17px;
  }

  .room-tittle {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.13;
    color: var(--black);
    margin-top: 62px;
    margin-bottom: 0;

    letter-spacing: 0.05em;
  }
  .after-section-title {
    width: 439px;
    margin-top: 16px;
  }
  .room-tittle-mirror {
    margin-top: 62px;
    margin-bottom: 0;
    letter-spacing: 0.05em;
    margin-right: 26px;
  }

  .room-first-image {
    top: -92px;
    margin-right: 15px;
    position: absolute;
    right: 97px;

    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }
  .room-first-image-mirror {
    top: -92px;
    position: absolute;
    margin-left: 112px;

    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }
  .room-slide-box {
    display: flex;
    position: relative;
  }
  .room-slide-box-mirror {
    display: flex;
    position: relative;
  }
  .slide-1 {
    margin-right: 40px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }
  .slide-2 {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }
  .image-2 {
    margin-right: 16px;
  }
  .image-2-mirror {
    margin-right: 16px;
  }
  .room-buttons {
    text-align: center;
    flex-direction: column;
    display: flex;
  }
  .content-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 188px;
  }
  .room-buttons-mirror {
    text-align: center;
    flex-direction: column;
    display: flex;
  }
  .left-arrow {
    margin-right: 33px;
    border: none;
    background-color: inherit;
  }
  .right-arrow {
    border: none;
    background-color: inherit;
  }
  .left-arrow-mirror {
    margin-right: 33px;
    border: none;
    background-color: inherit;
  }
  .right-arrow-mirror {
    margin-right: 33px;
    border: none;
    background-color: inherit;
  }

  .sliders-box {
    display: flex;
    flex-direction: column;
  }

  .arrows {
    margin-top: 32px;
    align-self: end;
  }

  .arrows-mirror {
    margin-top: 32px;
  }

  .pre-section-title-mirror {
    font-weight: 400;
    font-size: 32px;
    line-height: 1.15;
    color: var(--gray-1);
    margin-bottom: 0;
  }
  .section-title-mirror {
    font-family: 'FilmP3';
    font-weight: 700;
    font-size: 64px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #494848;
    margin-top: 8px;
    margin-bottom: 0;
    letter-spacing: 0.3em;
  }
  .after-section-title-mirror {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--primary-color);

    width: 400px;
    margin-top: 16px;
    margin-bottom: 0;
  }
}

/* -------------------------------------- desktop */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .room-1 {
    padding-top: 72px;
    position: relative;
    padding-bottom: 40px;
  }
  .room-2 {
    background-color: #f0ecd6;
    padding-top: 72px;
    position: relative;
    padding-bottom: 40px;
  }
  .room-3 {
    padding-top: 72px;
    position: relative;
    padding-bottom: 40px;
  }

  .room-text-box-mirror {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 57px;
  }

  .room-tittle {
    font-weight: 700;
    font-size: 35px;
    line-height: 1.13;
    letter-spacing: 0.05em;
    color: var(--black);
    margin-top: 72px;
    margin-bottom: 0;
  }
  .pre-section-title {
    font-weight: 400;
    font-size: 32px;
    line-height: 1.15;
    color: var(--gray-1);
  }
  .section-title {
    font-family: 'FilmP3';
    font-weight: 700;
    font-size: 64px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #494848;
  }
  .after-section-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--primary-color);

    width: 439px;
    margin-top: 24px;
    margin-bottom: 0;
  }
  .room-tittle-mirror {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.13;
    color: var(--black);
    margin-bottom: 0;
    letter-spacing: 0.05em;
  }

  .room-first-image {
    top: -100px;
    right: 110px;
    position: absolute;

    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }
  .sliders-box-mirror {
    order: 2;
  }
  .content-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 188px;
  }
  .room-first-image-mirror {
    top: -100px;
    left: 105px;
    position: absolute;

    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }

  .room-slide-box {
    display: flex;
    position: relative;
  }
  .room-slide-box-mirror {
    display: flex;
    position: relative;
  }
  .slide-1 {
    margin-right: 40px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }
  .slide-2 {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }
  .image-2 {
    margin-right: 40px;
  }
  .image-2-mirror {
    margin-right: 40px;
  }
  .room-buttons {
    text-align: center;
    flex-direction: column;
    display: flex;
  }
  .room-buttons-mirror {
    text-align: center;
    flex-direction: column;
    display: flex;
  }
  .left-arrow {
    margin-right: 33px;
    border: none;
    background-color: inherit;
  }
  .right-arrow {
    border: none;
    background-color: inherit;
  }
  .left-arrow-mirror {
    margin-right: 33px;
    border: none;
    background-color: #f0ecd6;
  }
  .right-arrow-mirror {
    margin-right: 33px;
    border: none;
    background-color: #f0ecd6;
  }

  .sliders-box {
    display: flex;
    flex-direction: column;
  }

  .arrows {
    margin-top: 40px;
    align-self: end;
  }

  .arrows-mirror {
    margin-top: 40px;
  }

  .pre-section-title-mirror {
    font-weight: 400;
    font-size: 32px;
    line-height: 1.15;
    color: var(--gray-1);
    margin-bottom: 0;
  }

  .section-title-mirror {
    font-family: 'FilmP3';
    font-weight: 700;
    font-size: 64px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #494848;
    margin-top: 8px;
    margin-bottom: 0;
    letter-spacing: 0.3em;
  }

  .after-section-title-mirror {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--primary-color);

    width: 439px;
    margin-top: 24px;
    margin-bottom: 0;
  }
}
